<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://localhost:3001/css/all.css">
    <link rel="icon" href="http://localhost:3001/images/favicon.ico">
    <title>Image Gallery</title>
</head>

<body>
    <%- include templates/header.ejs %>
    <div id="content"></div>
    <script async src="http://localhost:3001/js/r.js?v=<%= version %>"></script>
</body>
</html>
